@mixin glassContainer($blurVal) {
  // position: relative; // 父元素相对定位, 参考点: 原位置
  z-index: 1;
  &::before {
    content: '';
    position: absolute; // 子元素绝对定位, 参考点: 包含块
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur($blurVal);
    -webkit-backdrop-filter: blur($blurVal);
    z-index: -1;
    border-radius: 24px;
  }
}

:root {
  --color-green: #f1f8e9;
  --color-green2: #dcedc8;
  --color-green3: #c5e1a5;
  --color-green4: #aed581;
  --color-green5: #9ccc65;
  --color-green6: #8bc34a;
  --color-green7: #7cb342;
  --color-green8: #689f38;
  --color-green9: #558b2f;
  --color-green-a: #33691e;
  --color-green-b: #ccff90;
  --color-green-c: #b2ff59;
  --color-green-d: #76ff03;
  --color-green-e: #64dd17;
}
