@mixin glassContainer($blurVal) {
  // position: relative; // 父元素相对定位, 参考点: 原位置
  z-index: 1;
  &::before {
    content: '';
    position: absolute; // 子元素绝对定位, 参考点: 包含块
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur($blurVal);
    backdrop-filter: blur($blurVal);
    z-index: -1;
    border-radius: 24px;
  }
}

:root {
  --color-theme: #e1f5fe;
  --color-theme2: #b3e5fc;
  --color-theme3: #81d4fa;
  --color-theme4: #4fc3f7;
  --color-theme5: #29b6f6;
  --color-theme6: #03a9f4;
  --color-theme7: #039be5;
  --color-theme8: #0288d1;
  --color-theme9: #0277bd;
  --color-theme10: #01579b;
  --color-theme11: #80d8ff;
  --color-theme12: #40c4ff;
  --color-theme13: #00b0ff;
  --color-theme14: #0091ea;
}

::-webkit-scrollbar {
  display: none;
}

.ant-tree-switcher-noop {
  display: none;
}
